@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;900&display=swap");

$main-font: "Montserrat", sans-serif;
$dark-blue: #071d49;
$light-blue: #00b5e2;


// Mixins --------------------------

@mixin border-rounded($top,$bottom,$left,$right) {
    border-radius: $top $bottom $left $right;
  -moz-border-radius: $top $bottom $left $right;
  -webkit-border-radius: $top $bottom $left $right;
  border: 0px solid #000000;
}

// Estilos generales ------------------------------------------------------------------------------

body {
  font-style: $main-font !important;
  background-color: $light-blue;
}

.header {
  background-color: #565a5c;
  padding: 1em 9em;
  height: 10em;
  img {
    width: 12em;
  }
  @media screen and (max-width: 768px) {
    padding: 0.5em;
  }
}

// Estilos para el menu de navegacion -------------------------------------------------------------

.navbar-content {
  position: relative;
  bottom: -2em;
}

.border-radius-25 {
    @include border-rounded(25px,25px,25px,25px);
}
.navbar {
  padding: 0em;
  .nav-item:first-child {
    @media screen and (min-width: 994px) {
        @include border-rounded(25px,0,0,25px);
    }
  }

  .nav-item {
    padding: 0.5em 0.2em;
    @media screen and (max-width: 994px) {
      padding: 0.2em 0.7em;
    }
  }

  .form-inline {
    padding: 0.5em 0.4em;
    @media screen and (max-width: 994px) {
      padding: 0.2em 0.7em;
      margin: auto;
    }
  }

  .nav-item:hover {
    background-color: $dark-blue;
    .nav-link {
      color: white;
    }
  }
}

.container-button {
  background-color: $dark-blue;
}

// Estilos para la muestra de la ruta ---------------------------------------------------------------

.path {
  width: 100%;
  background-color: $dark-blue;
  color: $light-blue;
  height: 4em;
  padding-left: 8em;
  padding-top: 2em;
  @media screen and (max-width:500px){
      padding-left: 2em;
  }
}

.container {
  background-color: white;
}

.filter-box{
  padding:2%;
}

// Estilos para las cards -----------------------------------------------------------------------------

.card{
  @include border-rounded(0,0,25px,25px);
  margin: 1.5em;
  width: 44%;
  @media screen and (max-width:990px){
    width: 92%;
  }

  @media screen and (min-width:1300px){
    width: 28%;
  }

  .card-content{
    padding: 20px;
  }

  .tag-item{
    @include border-rounded(25px,25px,25px,25px);
    border: 1px solid #000000;
    width: 80px;
    font-size: xx-small;
    padding: .2em;
    text-align: center;
    display: inline-block;
    margin: 0 .5em;
  }

}